language: android
jdk: oraclejdk8
sudo: false
env:
  global:
    - ANDROID_API_LEVEL=25
    - EMULATOR_API_LEVEL=22
    - ANDROID_BUILD_TOOLS_VERSION=25.0.3
    - ANDROID_ABI=armeabi-v7a
    - ANDROID_TAG=google_apis

#before_script:
#  - echo no | android create avd --force -n test -t "android-"$EMULATOR_API_LEVEL --abi $ANDROID_ABI --tag $ANDROID_TAG
#  - emulator -avd test -no-audio -no-window &
#  - android-wait-for-emulator

script:
  - ./gradlew :morpheus:test # :morpheus:connectedAndroidTest

android:
  components:
    - platform-tools
    - tools
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-$ANDROID_API_LEVEL

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-google_apis-$ANDROID_API_LEVEL
    - sys-img-armeabi-v7a-google_apis-$EMULATOR_API_LEVEL
